{% extends 'auth/base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Reset Password</div>

                <div class="card-body">
                    {% if session().get('success') %}
                        <div class="alert alert-success" role="alert">
                            {{ session().get('success') }}
                        </div>
                    {% endif %}
                    <form action="/password" method="POST">
                        {{ csrf_field }}
                        <div class="form-group row">
                            <label for="email" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>

                            <div class="col-md-6">
                                <input id="email" type="email" class="form-control {% if session().get('error') or session().get('errors')['email'] %} is-invalid {% endif %}" name="email" value="{% if session().has('email') %}{{ session().get('email') }}{% endif %}" required autocomplete="email" autofocus>
                                {% if session().get('errors')['email'] %}
                                    <span class="invalid-feedback" role="alert">
                                        <strong>{{ session().get('errors')['email'] | first }}</strong>
                                    </span>
                                {% endif %}
                                {% if session().get('error') %}
                                    <span class="invalid-feedback" role="alert">
                                        <strong>{{ session().get('error') }}</strong>
                                    </span>
                                {% endif %}
                            </div>
                        </div>

                        <div class="form-group row mb-0">
                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-primary">
                                    Send Password Reset Link
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
